
<!-- Este es un comentario en HTML 
<div class="card bg-dark text-white my-5">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <form (ngSubmit)="edit()">
  
        <div class="form-group row my-3">
          <label for="id" class="col-form-label col-sm-2">Id</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="owner.codigo" name="codigo" placeholder="Ingrese el ID...">
          </div>
        </div>
  
        <div class="form-group row my-3">
          <label for="name" class="col-form-label col-sm-2">Nombre</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="owner.nombre" name="nombre" placeholder="Ingrese el nombre...">
          </div>
        </div>
  
        <div class="form-group row my-3">
          <label for="lastName" class="col-form-label col-sm-2">Apellido</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="owner.apellido" name="apellido" placeholder="Ingrese el apellido...">
          </div>
        </div>
  
        <div class="form-group row my-3">
          <label for="contrasena" class="col-form-label col-sm-2">Contraseña</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" [(ngModel)]="owner.contrasena" name="contrasena" placeholder="Ingrese la contraseña...">
          </div>
        </div>
  
        <div class="form-group row my-3">
          <div class="col-sm-6">
            <button class="btn btn-primary" type="submit">Editar</button>
          </div>
        </div>
  
      </form>
    </div>
  </div>
-->